.communication {
    width: 100%;
    /*background-color: #fff;*/
    padding: 60px 20px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.title {
    font-size: 36px;
    font-weight: 700;
    color: #000;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 14px;
    color: #999;
    max-width: 800px;
    margin: 0 auto 60px;
    line-height: 1.6;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 30px;
    width: 300px;
    height: 240px;
    /* Kart yüksekliğini biraz artırdım */
    padding: 40px 30px 30px;
    /* Üstten azalt, alttan yaklaş */
    box-shadow: 0 0 0 1px #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: all 0.3s ease;
}

.com-icon {
    font-size: 50px;
    color: #2ba3b3;
}

.label {
    font-size: 18px;
    font-weight: 700;
    color: #555;
    margin-bottom: 20px;
    /* Önce 50px idi, ikonu metne yaklaştırdık */
}

.desc-group {
    margin-top: 30px;
    /* istediğin boşluğu ayarlar */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.description {
    font-size: 13px;
    color: #ccc;
    margin-top: 20px;
    /* Çizgiden sonra açıklama yazısını daha yakına çektik */
    text-align: center;
}

.card hr {
    width: 80%;
    border: none;
    border-top: 1px solid #f0f0f0;
    margin: 0;
}