/*.scroll-to-top {
    position: fixed;
    bottom: 70px;
    right: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 9999;
    animation: scroll-bounce 2s infinite;
}
.scroll-to-top img {
    width: 45px;
    height: 45px;
}

@keyframes scroll-bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}
*/