.scroll-to-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 9999;

}

.scroll-to-top img {
    width: 30px;
    height: 30px;
}

@keyframes scroll-bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}