.support-button {
    position: fixed;
    bottom: 10px;
    /* ✅ Altta olacak */
    right: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 9999;
}

.support-button img {
    width: 45px;
    height: 45px;
    transition: transform 0.3s ease;
}

.support-button:hover img {
    transform: scale(1.1);
}