.category-section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 70px 0;

}

.category-wrapper {
    max-width: 1300px;
    width: 100%;
}

.category-title {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 40px;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    justify-content: flex-start !important;
    /* ← sola yasla */
}

/* Kategori kartı stili */
.category-card {
    background-color: #ffffff;
    border: 1px solid #329cb2;
    border-radius: 25px;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.category-card:hover {

    background-color: #329cb2;
    border: 1px solid #ffffff;
    transform: translateY(-2px);
}


.category-name {
    font-size: 14px;
    color: #474646;
    font-weight: 500;
    white-space: nowrap;
}

.category-name.hovered-text {
    color: white;
    /* 🟢 Hover’da beyaz yazı */
}

.blurred {
    opacity: 0.5;
    filter: blur(0.5px);
}