.footer {
    background-color: #fff;
    padding: 60px 10px !important;
    border-top: 1px solid #e0e0e0;
    font-family: 'Segoe UI', sans-serif;
}

.footer-container {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-columns {
    display: flex;
    gap: 80px;
    /* ☕️ BAŞLIKLAR ARASI BOŞLUK ARTIRILDI */
    flex-wrap: wrap;
}

.footer-section h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 18px;
    color: #000;
}

.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-section li {
    margin-bottom: 8px;
}

.footer-section a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    transition: color 0.2s;
}

.footer-section a:hover {
    color: #329cb2;
}

/* 🔵 LOGO KUTUSU */
.footer-right {
    padding: 10px 50px !important;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
    padding: 60px;

}

/* LOGO */
.footer-logo {
    width: 210px;
    height: auto;
}

/* 🔴 BUTONLAR */
.footer-apps {
    display: flex;
    gap: 30px;
}

.footer-apps img {
    width: 90px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.footer-apps img:hover {
    transform: scale(1.05);
}

.footer-social {
    display: flex;
    gap: 40px;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 0px !important;
}

.footer-social a {
    color: #333;
    transition: color 0.3s ease;
}

.footer-social a:hover {
    color: #333;
}