.banner-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 10px;
    gap: 10px;
    /* Dot ile görsel arasında sabit boşluk */
}

.banner-wrapper {
    width: 100%;
    max-width: 1300px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    display: none;
}

.banner-wrapper.active {
    display: block;
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 20px;
    object-fit: cover;
}

/* Dot navigasyon */
.pagination-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
    padding: 8px;
}

.dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    position: relative;
}

.dot:hover {
    transform: scale(1.2);
    background: linear-gradient(145deg, #e8e8e8, #cfcfcf);
}

.dot.active-dot {
    background: #329cb2;
    transform: scale(1.6);
    box-shadow: 0 0 8px rgba(94, 187, 216, 0.6);
}



@media (max-width: 768px) {
    .banner-wrapper {
        border-radius: 0;
    }

    .banner-image {
        border-radius: 0;
    }
}